
body{
  margin: 0;
/*  border: solid;
  border-width: 0px 10px 20px 30px;*/
  text-align: center;
  font-family: "Merriweather", serif;
}

h1{
  top: 100px;
  font-size: 562.5%; /*5.625em or 90px or 562.5%*/
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}

h2{
  font-family: 'Montserrat', cursive;
}

h3{
  font-family: 'Montserrat', sans-serif;
}


h4{
  font-family: 'Montserrat', sans-serif;
}

h5{
  font-family: 'Montserrat', sans-serif;
}

.mount{
  width: 700px;
  position: relative;
  left: 50px;
  top: 3px;
}

.top-container{
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;

}

.middle-container{
}

.bottom-container{
}

.data{
  text-decoration: underline;
}

.top-cloud{
  position: absolute;
  left: 1400px;
  top: 20px;
}

.bottom-cloud{
  position: absolute;
  left: 250px;
  top: 210px;
}

.edu{
  top: 600px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 1200px;
}

.int{
  top: 730px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 1200px;
}

.skill{
  top: 850px;
  height: 100px;
  width: 100px;
  position: absolute;
  left: 1200px;
}

span{
  font-size: 40px;
}
